 .col-md-4 {
    width: 33.33% !important;
    float: left;    
    color: white;
    text-align: left;
  }
  .col-md-4 a{
text-decoration: none;
color: white;
  }

.location-footer  h4{
  margin-bottom: 10px
}
  .col-md-4 ul li{
list-style: none;
  }

  .col-md-4 ul li a img{
max-width: 200px;
margin-bottom: 45px;
  }

  .container-footer {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 185px;
}

.footer-topborder {
    overflow: hidden;
    margin-bottom: 80px;
}
.footer-topborder {
    border-bottom: 1px solid #fff;
    padding-bottom: 45px;
}
article.payementForm {
    margin-top: 55px;
    margin-bottom: 95px;
}
body {
    height: 100vh !important;
}

#nextStep {
    height: 100vh !important;
    background: transparent;
}
.phone_lone{
  display: none;
}

@media (max-width: 600px) and (min-width: 0px) {
  .hero {
    margin: 18px;
}
.phone_lone{
  display: block;
}
.hero h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.logo {
    padding: 23px;
}

.booking {
    margin: 21px;
}

.con {
    margin: 12px;
    margin-right: 21px;
    margin-bottom: 30px;
}

.carBox {
    border-radius: 0;
    display: block;
    text-align: center;
    height: inherit !important;
    justify-content: inherit !important;
}

article.btncar {
    text-align: center;
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}

.col-md-4 {
    width: 100% !important;
    display: block;
    margin-bottom: 30px;
}

footer {
    border-top-right-radius: 130px !important;
}

.container1 {
    padding: 0;
    display: block !important;
    flex-wrap: nowrap !important;
}

header {
    height: inherit !important;
    /* overflow: hidden; */
    position: relative !important;
}

section.container0 {
    height: initial !important;
    /* margin: 0px; */
    width: 100%;
    text-align: center;
    padding-top: 40px;
    overflow: hidden !important;
}

article.Pic {
    width: 100%;
}

body {
    overflow-x: hidden;
}

.container1 {
    height: initial !important;
}

footer {
    height: initial !important;
    overflow: hidden;
}

input.go_get_info.from_field.btntext.Date {
    width: 100%;
    margin-bottom: 20px;
}

input.go_get_info.to_field.btntext.Date {
    width: 100%;
    margin-bottom: 20px;
}

.carBox {
    position: relative;
    width: 100%;
    /* height: 700px !important; */
    overflow: hidden;
    height: initial !important;
    display: block !important;
    align-items: initial !important;
    z-index: 999999999;
    text-align: center;
    margin-top: 0;
}

section.container0.hidenme {
    position: relative;
    margin-top: 10px;
}

article.Pic {
    margin-left: 0;
    margin-top: 50px !important;
}

section.container0 {
    margin: 0;
}

article.box1.tani {
    display: none;
}

section.container0.hidenme.fonction {
    margin-top: 0;
}

img.teleBa7 {
    display: none;
}

img.hideimage {
    display: none;
}

.box.tani {
    display: none;
}

.footer-topbtn a {
    width: 95%;
    margin: 0 auto !important;
    display: inline-block;
}

.footer-topbtn {text-align: center !important;/* background: red; */margin: 0 auto;overflow: hidden;display: inline-block;width: 95%;}

.container-footer {
    padding-top: 70px;
}

footer.hidenme {
    margin-top: 100px;
}

.col-md-4 {
}

.location-footer {
    padding-left: 50px;
}

.footer-manu {
    padding-left: 50px;
}

.menu-right {
    padding-left: 50px;
}

#Download h4 {
    width: 100% !important;
    display: block !important;
}

article.stor {
    display: block;
    width: 100% !important;
    /* margin-top: 20px; */
}

section#Download {
    display: block !important;
    text-align: center;
    margin-top: 40px;
}

article.stor p {
    margin-bottom: 20px;
}

button.btn.btn1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button.btn.btn2 {
    width: 100%;
    margin-right: inherit;
}

.booking img {
    display: none;
}

input#origin-input {
    width: 100%;
}

input#destination-input {
    width: 100%;
}

label {
    padding: 10px 0px 5px 0px;
}

.footer-topheading img {
    padding-left: 10px;
}

header {
    height: initial !important;
    background-size: 1500px;
    background-position-y: 0;
}

input.go_get_info.from_field.btntext.Date {
    padding: 20px 124px 17px 30px;
}

input.go_get_info.to_field.btntext.Date {
    padding: 20px 124px 17px 30px;
}
.hero h1 {
    display: block;
    width: 100% !important;
}

.con {
    display: block;
    width: 91% !important;
}

}
p.alert {
    background: transparent;
    text-align: center;
    padding: 25px;
    width: 50%;
    font-size: 28px;
    font-weight: 600;
}

p.alert.alert-success {
    background: #0080008f;
}


p.alert.alert-danger {
    background: ff00008a;
}


.wrapper  .part.card-details h1 {
  background-color: #00b0ff;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 0 10px 49px;
  letter-spacing: 1px;
  margin-left: -52px;
  width: 330px;
}
.wrapper  form .group {
  display: block;
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 25px;
  text-align: left;
}
.wrapper  form .group label {
  font-size: 12px;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  color: black;
  padding: 0;
  color: white;
}
.wrapper  form .group input {
  float: left;
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  border: 0;
  color: #263238;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 10px;
}
.wrapper  form .group input::-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper  form .group input:-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper  form .group input::-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper  form .group input:-ms-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper  form .group input:focus {
  outline: none;
  border-bottom-color: #00b0ff;
}
.wrapper  form .group input:focus::-webkit-input-placeholder {
  color: transparent;
}
.wrapper  form .group input:focus:-moz-placeholder {
  color: transparent;
}
.wrapper  form .group input:focus::-moz-placeholder {
  color: transparent;
}
.wrapper  form .group input:focus:-ms-input-placeholder {
  color: transparent;
}

.wrapper  form .card-number:first-of-type {
  margin-top: 32px;
}
.wrapper  form .card-number input {
  width: 70px;
  border-bottom: 0;
}
.wrapper  form .card-number.focused {
  border-bottom-color: #00b0ff;
}
.wrapper  form .card-expiry {
  border-bottom: 0;
}
.wrapper  form .card-expiry .input-item {
  float: left;
}
.wrapper  form .card-expiry .input-item.expiry {
  width: 200px;
}
.wrapper  form .card-expiry .input-item.expiry input:last-of-type {
  margin-left: 30px;
}
.wrapper  form .card-expiry .input-item.csv {
  width: 80px;
  text-align: left;
  position: relative;
}
.wrapper  form .card-expiry .input-item.csv a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-decoration: none;
  color: #00b0ff;
}
.wrapper  form .card-expiry .input-item.csv a:hover {
  color: #263238;
}
.wrapper  form .card-expiry .input-item label {
  width: 100%;
}
.wrapper  form .card-expiry .input-item input {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
}
.wrapper  form .card-expiry .input-item input.month {
  width: 60px;
}
.wrapper  form .card-expiry .input-item input.year {
  width: 79px;
}
.wrapper  form .card-expiry .input-item input.csv {
  width: 79px;
}
.wrapper  form .card-expiry .input-item input:focus {
  border-bottom: 1px solid #00b0ff;
}
.wrapper  form .submit-group {
  width: 100%;
  float: left;
  position: relative;
}
.wrapper  form .submit {
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #263238;
  margin-left: 24px;
  cursor: pointer;
}
.wrapper  form .submit:hover {
  text-decoration: underline;
}
.wrapper  form .submit:focus {
  outline: none;
}
.wrapper  form .arrow {
  position: absolute;
  top: -2px;
  left: -1px;
}
.wrapper  form .arrow:before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url("https://s21.postimg.org/lgxvam5df/arrow.png");
  position: absolute;
  top: 4px;
  left: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper  form .arrow.rotate:before {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

  -ms-transform: rotate(360deg);
.credits {
  display: block;
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #263238;
  font-size: 12px;
  margin: 0 10px 10px 0;
}
.credits a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

article.part.card-details {
    background: #ffffff26;
    overflow: hidden;
    padding: 5px 40px;
    margin-bottom: 34px;
    max-width: 66%;
}

.group.card-name input {
    max-width: 280px;
}


.conb {
    height: initial !important;
}
img.paypal_logo {
    max-width: 80px;
}

img.stripe_logo {
    max-width: 300px;
}

a#go_pay {
    display: inline-block;
    margin: 0 auto !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
    margin-top: 30px !important;
}
pre {
    display: none;
}

.conb.conb2 {
    float: left;
    height: 100vh !important;
}


#payment-form input {
    width: calc(100% - 10px);
    height: 35px;
    border: 0;
    border-radius: 2px;
    margin: 7px;
    padding-left: 15px;
}


 .conb.conb1 , .conb.conb2 {
    min-height: 100vh !important;
    overflow: hidden;
}

img.paypal_logo {
    width: 170px !important;
    max-width: inherit;
}

 .alert-danger.alert {
    background: #FF5722;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 6px;
    color: white;
    margin-bottom: 25px;
    margin-top: 30px !important;
    position: relative;
    top: 9px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
}
.alert-danger.alert.show {
    display: block !important;
}

  img.loading {
    width: 25px;
    position: relative;
    top: 7px;
    left: -15px;
}

    img.stripe_logo {
    cursor: pointer;
}

img.paypal_logo {
    cursor: pointer;
}